html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 928px;
	min-height: 499.9000000000001px;
	-pie-box-shadow: 5px 5px 11px #121212;
	-moz-box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 5px 5px 11px -1px rgba(0, 0, 0, 0.07);
	box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.07);
	border-style: none;
	border-color: transparent;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF url("../images/dots_double_3x6_180gray.png") no-repeat left top;
}

#master-header
{
	width: 0.01px;
	position: relative;
}

#u65
{
	z-index: 3;
	width: 928px;
	padding-bottom: 5px;
	margin-right: -928px;
}

#u79
{
	z-index: 4;
	width: 78px;
	margin-right: -78px;
	margin-top: 5px;
	left: 19px;
}

#u687
{
	z-index: 6;
	width: 192px;
	margin-right: -192px;
	margin-top: 83px;
	left: 127px;
}

#pmenuu167
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 14px;
	position: relative;
}

#menuu167
{
	z-index: 9;
	width: 77px;
	margin-right: -77px;
	margin-top: 18px;
}

#u212
{
	width: 77px;
}

#u215
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u215:hover
{
	margin: 0px -77px 0px 0px;
}

#u217-4
{
	width: 77px;
	min-height: 16px;
	margin-right: -77px;
	top: 10px;
}

#u215:hover #u217-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u215:active #u217-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u301
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u303-4
{
	width: 77px;
	min-height: 16px;
	margin-right: -77px;
	top: 10px;
}

#u215.MuseMenuActive #u217-4,#u301:hover #u303-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u301:active #u303-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u344
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u346-4
{
	width: 77px;
	min-height: 31px;
	margin-right: -77px;
	top: 10px;
}

#u344:hover #u346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -77px 0px 0px;
}

#u344:active #u346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -77px 0px 0px;
}

#u344.MuseMenuActive #u346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -77px 0px 0px;
}

#u357
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u360-4
{
	width: 77px;
	min-height: 16px;
	margin-right: -77px;
	top: 10px;
}

#u301.MuseMenuActive #u303-4,#u357:hover #u360-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u357:active #u360-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u370
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u372-4
{
	width: 77px;
	min-height: 16px;
	margin-right: -77px;
	top: 10px;
}

#u357.MuseMenuActive #u360-4,#u370:hover #u372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u370:active #u372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u1445
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u1448-4
{
	width: 77px;
	min-height: 16px;
	margin-right: -77px;
	top: 10px;
}

#u370.MuseMenuActive #u372-4,#u1445:hover #u1448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u1445:active #u1448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u300,#u341,#u354,#u367,#u1442,#u380
{
	width: 77px;
	margin-top: 2px;
}

#u383
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u215.MuseMenuActive,#u301.MuseMenuActive,#u344.MuseMenuActive,#u357.MuseMenuActive,#u370.MuseMenuActive,#u1445.MuseMenuActive,#u383.MuseMenuActive
{
	margin: 0px -77px 0px 0px;
}

#u385-4
{
	width: 77px;
	min-height: 16px;
	margin-right: -77px;
	top: 10px;
}

#u1445.MuseMenuActive #u1448-4,#u383:hover #u385-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u383:active #u385-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u383.MuseMenuActive #u385-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u404
{
	z-index: 52;
	width: 734px;
	height: 22px;
	margin-right: -734px;
	left: 97px;
}

#u483
{
	z-index: 64;
	width: 328px;
	border-style: none;
	border-color: transparent;
	background-color: #F0F0F0;
	padding-bottom: 24px;
	position: relative;
	margin-right: -328px;
	margin-top: 245px;
	left: 97px;
}

#u659-9
{
	z-index: 72;
	width: 284px;
	min-height: 57px;
	font-size: 13px;
	color: #7F7F7F;
	line-height: 1.5;
	font-family: actor-n4, actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -284px;
	margin-top: 11px;
	left: 6px;
}

#u659
{
	color: #4A4A4A;
}

#u659-3,#u659-6
{
	color: #FF6600;
}

#u1902
{
	z-index: 65;
	width: 328px;
	border-style: none;
	border-color: transparent;
	background-color: #BEBEBE;
	padding-bottom: 7px;
	position: relative;
	margin-right: -328px;
	margin-top: 332px;
	left: 97px;
}

#u1892
{
	z-index: 145;
	width: 76px;
	position: relative;
	margin-right: -76px;
	margin-top: 7px;
	left: 6px;
}

#u1892_clip
{
	overflow: hidden;
	width: 76px;
	height: 96px;
}

#u1892_img
{
	margin: -2px -20px -5px -13px;
}

#u1891
{
	z-index: 149;
	width: 71px;
	position: relative;
	margin-right: -71px;
	margin-top: 7px;
	left: 93px;
}

#u1891_img
{
	margin: -1px -22px -2px -18px;
}

#u1890
{
	z-index: 147;
	width: 67px;
	position: relative;
	margin-right: -67px;
	margin-top: 7px;
	left: 174px;
}

#u1890_clip
{
	overflow: hidden;
	width: 67px;
	height: 96px;
}

#u1890_img
{
	margin-left: -16px;
	margin-top: -3px;
	margin-right: -17px;
}

#u1889
{
	z-index: 151;
	width: 71px;
	position: relative;
	margin-right: -71px;
	margin-top: 7px;
	left: 251px;
}

#u1891_clip,#u1889_clip
{
	overflow: hidden;
	width: 71px;
	height: 96px;
}

#u1889_img
{
	margin-left: -13px;
	margin-top: -9px;
	margin-right: -14px;
}

#u401-4
{
	z-index: 66;
	width: 328px;
	min-height: 141px;
	position: relative;
	margin-right: -328px;
	margin-top: 25px;
	left: 97px;
}

#u436
{
	z-index: 70;
	width: 328px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -328px;
	margin-top: 234px;
	left: 97px;
	background: transparent url("../images/dots_double_6x8_180gray.png") repeat-x left top;
}

#u462
{
	z-index: 71;
	width: 734px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -734px;
	margin-top: 457px;
	left: 97px;
	background: transparent url("../images/dots_double_6x8_180gray.png") repeat-x left top;
}

#u1453
{
	z-index: 81;
	width: 104px;
	height: 114px;
	position: relative;
	margin-right: -104px;
	margin-top: 31px;
	left: 726px;
}

#u1458
{
	z-index: 82;
	width: 104px;
	height: 114px;
	position: relative;
	margin-right: -104px;
	margin-top: 152px;
	left: 726px;
}

#u1454
{
	z-index: 83;
	width: 104px;
	height: 114px;
	position: relative;
	margin-right: -104px;
	margin-top: 31px;
	left: 614px;
}

#u1457
{
	z-index: 84;
	width: 104px;
	height: 114px;
	position: relative;
	margin-right: -104px;
	margin-top: 152px;
	left: 614px;
}

#u1455
{
	z-index: 85;
	width: 104px;
	height: 114px;
	position: relative;
	margin-right: -104px;
	margin-top: 31px;
	left: 503px;
}

#u1456
{
	z-index: 86;
	width: 104px;
	height: 114px;
	position: relative;
	margin-right: -104px;
	margin-top: 152px;
	left: 503px;
}

#u1471
{
	z-index: 87;
	width: 328px;
	position: relative;
	margin-right: -328px;
	margin-top: 280px;
	left: 503px;
}

#u1463-10
{
	z-index: 88;
	width: 328px;
	min-height: 45px;
	color: #FF6600;
	font-family: droid-sans-n7, droid-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u1463-5
{
	color: #7F7F7F;
	font-family: actor-n4, actor, sans-serif;
	font-weight: 400;
}

#pu1464-16
{
	width: 0.01px;
	margin-top: 5px;
	position: relative;
}

#u1464-16
{
	z-index: 98;
	width: 96px;
	min-height: 151px;
	font-size: 11px;
	color: #FF6600;
	position: relative;
	margin-right: -96px;
}

#u1465-16
{
	z-index: 114;
	width: 96px;
	min-height: 151px;
	font-size: 11px;
	color: #FF6600;
	position: relative;
	margin-right: -96px;
	left: 116px;
}

#u1467-14
{
	z-index: 130;
	width: 96px;
	min-height: 151px;
	font-size: 11px;
	color: #FF6600;
	position: relative;
	margin-right: -96px;
	left: 232px;
}

#u1824
{
	z-index: 144;
	width: 328px;
	height: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -328px;
	margin-top: 31px;
	left: 503px;
}

.ie #u1453,.ie #u1458,.ie #u1454,.ie #u1457,.ie #u1455,.ie #u1456,.ie #u1824
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#U1826_animation
{
	width: 328px;
	height: 225px;
	border: none;
}

#master-footer
{
	width: 0.01px;
	margin-top: 1px;
	position: relative;
}

#u93
{
	z-index: 54;
	width: 928px;
	margin-right: -928px;
}

#u94-4
{
	z-index: 55;
	width: 313px;
	min-height: 25px;
	margin-right: -313px;
	margin-top: 11px;
	left: 126px;
}

#u96-4
{
	z-index: 59;
	width: 313px;
	min-height: 25px;
	margin-right: -313px;
	margin-top: 11px;
	left: 547px;
}

body
{
	padding-bottom: 78px;
}

