html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 928px;
	min-height: 600px;
	-pie-box-shadow: 5px 5px 11px #121212;
	-moz-box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 5px 5px 11px -1px rgba(0, 0, 0, 0.07);
	box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.07);
	border-style: none;
	border-color: transparent;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF url("../images/dots_double_3x6_180gray.png") no-repeat left top;
}

#master-header
{
	width: 0.01px;
	position: relative;
}

#u65
{
	z-index: 3;
	width: 928px;
	padding-bottom: 5px;
	margin-right: -928px;
}

#u79
{
	z-index: 4;
	width: 78px;
	margin-right: -78px;
	margin-top: 5px;
	left: 19px;
}

#u687
{
	z-index: 6;
	width: 192px;
	margin-right: -192px;
	margin-top: 83px;
	left: 127px;
}

#pmenuu167
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 14px;
	position: relative;
}

#menuu167
{
	z-index: 9;
	width: 77px;
	margin-right: -77px;
	margin-top: 18px;
}

#u212
{
	width: 77px;
}

#u215
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u215:hover
{
	margin: 0px -77px 0px 0px;
}

#u217-4
{
	width: 77px;
	min-height: 16px;
	margin-right: -77px;
	top: 10px;
}

#u215:hover #u217-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u215:active #u217-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u301
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u303-4
{
	width: 77px;
	min-height: 16px;
	margin-right: -77px;
	top: 10px;
}

#u215.MuseMenuActive #u217-4,#u301:hover #u303-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u301:active #u303-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u344
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u346-4
{
	width: 77px;
	min-height: 31px;
	margin-right: -77px;
	top: 10px;
}

#u344:hover #u346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -77px 0px 0px;
}

#u344:active #u346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -77px 0px 0px;
}

#u344.MuseMenuActive #u346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -77px 0px 0px;
}

#u357
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u360-4
{
	width: 77px;
	min-height: 16px;
	margin-right: -77px;
	top: 10px;
}

#u301.MuseMenuActive #u303-4,#u357:hover #u360-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u357:active #u360-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u370
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u372-4
{
	width: 77px;
	min-height: 16px;
	margin-right: -77px;
	top: 10px;
}

#u357.MuseMenuActive #u360-4,#u370:hover #u372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u370:active #u372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u1445
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u1448-4
{
	width: 77px;
	min-height: 16px;
	margin-right: -77px;
	top: 10px;
}

#u370.MuseMenuActive #u372-4,#u1445:hover #u1448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u1445:active #u1448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u300,#u341,#u354,#u367,#u1442,#u380
{
	width: 77px;
	margin-top: 2px;
}

#u383
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u215.MuseMenuActive,#u301.MuseMenuActive,#u344.MuseMenuActive,#u357.MuseMenuActive,#u370.MuseMenuActive,#u1445.MuseMenuActive,#u383.MuseMenuActive
{
	margin: 0px -77px 0px 0px;
}

#u385-4
{
	width: 77px;
	min-height: 16px;
	margin-right: -77px;
	top: 10px;
}

#u1445.MuseMenuActive #u1448-4,#u383:hover #u385-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u383:active #u385-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u383.MuseMenuActive #u385-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u404
{
	z-index: 52;
	width: 734px;
	height: 22px;
	margin-right: -734px;
	left: 97px;
}

#u1449-64
{
	z-index: 64;
	width: 328px;
	min-height: 398px;
	position: relative;
	margin-right: -328px;
	margin-top: 65px;
	left: 97px;
}

#u1450-66
{
	z-index: 128;
	width: 328px;
	min-height: 748px;
	position: relative;
	margin-right: -328px;
	margin-top: 65px;
	left: 503px;
}

#u1450-16
{
	padding-top: 10px;
}

#u1450-13
{
	font-family: droid-sans-n7, droid-sans, sans-serif;
	font-weight: 700;
}

#u1449-4,#u1449-14,#u1449-24,#u1449-34,#u1449-44,#u1449-56,#u1450-4,#u1450-24,#u1450-37,#u1450-47,#u1450-57
{
	padding-top: 10px;
	font-family: droid-sans-n7, droid-sans, sans-serif;
	font-weight: 700;
}

#u1451
{
	z-index: 194;
	width: 734px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -734px;
	margin-top: 1759px;
	left: 97px;
	background: transparent url("../images/dots_double_6x8_180gray.png") repeat-x left top;
}

#u1906-4
{
	z-index: 195;
	width: 734px;
	min-height: 56px;
	font-size: 18px;
	color: #FF6600;
	position: relative;
	margin-right: -734px;
	margin-top: 19px;
	left: 97px;
}

#master-footer
{
	width: 0.01px;
	margin-top: 1px;
	position: relative;
}

#u93
{
	z-index: 54;
	width: 928px;
	margin-right: -928px;
}

#u94-4
{
	z-index: 55;
	width: 313px;
	min-height: 25px;
	margin-right: -313px;
	margin-top: 11px;
	left: 126px;
}

#u96-4
{
	z-index: 59;
	width: 313px;
	min-height: 25px;
	margin-right: -313px;
	margin-top: 11px;
	left: 547px;
}

body
{
	padding-bottom: 78px;
}

