html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 928px;
	min-height: 611px;
	-pie-box-shadow: 5px 5px 11px #121212;
	-moz-box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 5px 5px 11px -1px rgba(0, 0, 0, 0.07);
	box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.07);
	border-style: none;
	border-color: transparent;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF url("../images/dots_double_3x6_180gray.png") no-repeat left top;
}

#u65
{
	z-index: 3;
	width: 928px;
	padding-bottom: 5px;
	margin-right: -928px;
}

#u79
{
	z-index: 4;
	width: 78px;
	margin-right: -78px;
	margin-top: 5px;
	left: 19px;
}

#u687
{
	z-index: 6;
	width: 192px;
	margin-right: -192px;
	margin-top: 83px;
	left: 127px;
}

#pmenuu167
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 14px;
	position: relative;
}

#menuu167
{
	z-index: 9;
	width: 77px;
	margin-right: -77px;
	margin-top: 18px;
}

#u212
{
	width: 77px;
}

#u215
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u215:hover
{
	margin: 0px -77px 0px 0px;
}

#u217-4
{
	width: 77px;
	min-height: 16px;
	margin-right: -77px;
	top: 10px;
}

#u215:hover #u217-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u215:active #u217-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u301
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u303-4
{
	width: 77px;
	min-height: 16px;
	margin-right: -77px;
	top: 10px;
}

#u215.MuseMenuActive #u217-4,#u301:hover #u303-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u301:active #u303-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u344
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u346-4
{
	width: 77px;
	min-height: 31px;
	margin-right: -77px;
	top: 10px;
}

#u344:hover #u346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -77px 0px 0px;
}

#u344:active #u346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -77px 0px 0px;
}

#u344.MuseMenuActive #u346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -77px 0px 0px;
}

#u357
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u360-4
{
	width: 77px;
	min-height: 16px;
	margin-right: -77px;
	top: 10px;
}

#u301.MuseMenuActive #u303-4,#u357:hover #u360-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u357:active #u360-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u370
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u372-4
{
	width: 77px;
	min-height: 16px;
	margin-right: -77px;
	top: 10px;
}

#u357.MuseMenuActive #u360-4,#u370:hover #u372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u370:active #u372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u1445
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u1448-4
{
	width: 77px;
	min-height: 16px;
	margin-right: -77px;
	top: 10px;
}

#u370.MuseMenuActive #u372-4,#u1445:hover #u1448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u1445:active #u1448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u300,#u341,#u354,#u367,#u1442,#u380
{
	width: 77px;
	margin-top: 2px;
}

#u383
{
	width: 77px;
	padding-bottom: 20px;
	margin-right: -77px;
}

#u215.MuseMenuActive,#u301.MuseMenuActive,#u344.MuseMenuActive,#u357.MuseMenuActive,#u370.MuseMenuActive,#u1445.MuseMenuActive,#u383.MuseMenuActive
{
	margin: 0px -77px 0px 0px;
}

#u385-4
{
	width: 77px;
	min-height: 16px;
	margin-right: -77px;
	top: 10px;
}

#u1445.MuseMenuActive #u1448-4,#u383:hover #u385-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u383:active #u385-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u383.MuseMenuActive #u385-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -77px 0px 0px;
}

#u404
{
	z-index: 52;
	width: 734px;
	height: 22px;
	margin-right: -734px;
	left: 97px;
}

#pppu739
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 23px;
	left: 97px;
}

#master-header,#ppu739
{
	width: 0.01px;
	position: relative;
}

#pu739
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
}

#u739
{
	z-index: 127;
	width: 134px;
	margin-left: 1px;
	position: relative;
}

#u739_img
{
	vertical-align: top;
}

#u673-5
{
	z-index: 67;
	width: 328px;
	min-height: 234px;
	margin-top: 11px;
	position: relative;
}

#u730
{
	z-index: 64;
	width: 328px;
	border-style: none;
	border-color: transparent;
	background-color: #F0F0F0;
	position: relative;
	margin-right: -328px;
	margin-top: 8px;
	left: 406px;
}

#u730_position_content
{
	margin-bottom: -14px;
}

#u731
{
	z-index: 65;
	width: 328px;
	border-style: none;
	border-color: transparent;
	background-color: #FF6600;
	position: relative;
}

#u732
{
	z-index: 66;
	width: 328px;
	height: 17px;
	border-style: none;
	border-color: transparent;
	margin-bottom: -5px;
	position: relative;
	margin-right: -328px;
	margin-top: 6px;
	background: transparent url("../images/dots_double_6x8_180gray.png") repeat-x left top;
}

#u727-39
{
	z-index: 72;
	width: 306px;
	min-height: 364px;
	margin-left: 11px;
	margin-top: 14px;
	position: relative;
}

#u727
{
	font-family: droid-sans-n4, droid-sans, sans-serif;
	font-weight: 400;
}

#u787
{
	z-index: 81;
	width: 9px;
}

#u791
{
	z-index: 91;
	width: 9px;
}

#u795
{
	z-index: 101;
	width: 9px;
}

#u799
{
	z-index: 111;
	width: 9px;
}

#u727-4,#u727-11,#u727-18,#u727-25,#u727-32
{
	font-size: 1px;
	line-height: 0px;
}

#u727-12,#u727-19,#u727-26,#u727-33
{
	color: #FF6600;
}

#u803
{
	z-index: 121;
	width: 9px;
}

#u787_img,#u791_img,#u795_img,#u799_img,#u803_img
{
	vertical-align: bottom;
}

#u733
{
	z-index: 126;
	width: 734px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	margin-top: 11px;
	position: relative;
	background: transparent url("../images/dots_double_6x8_180gray.png") repeat-x left top;
}

#master-footer
{
	width: 0.01px;
	margin-top: 1px;
	position: relative;
}

#u93
{
	z-index: 54;
	width: 928px;
	margin-right: -928px;
}

#u94-4
{
	z-index: 55;
	width: 313px;
	min-height: 25px;
	margin-right: -313px;
	margin-top: 11px;
	left: 126px;
}

#u96-4
{
	z-index: 59;
	width: 313px;
	min-height: 25px;
	margin-right: -313px;
	margin-top: 11px;
	left: 547px;
}

body
{
	padding-bottom: 78px;
}

